.modal {
    z-index: 99;
    position: relative;
    background-color: white;

    width: 40vw;

    &.hidden {
        display: none;
    }
}

.modal-background {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;

    background-color: rgba(black, 0.6);
    box-shadow: 0 0 6rem 2rem inset rgba(black, 0.4);

    &.hidden {
        display: none;
    }
}
